<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueCollar</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="header__top-inner">
					<span class="header__office-hours text">Opening Hours: 06:00 to 20:00</span>
					<div class="header__socials">
						<a class="header__soc-link" href="#" aria-label="Go to our facebook profile">
							<svg>
								<use xlink:href="images/sprite.svg#facebook"></use>
							</svg>
						</a>
						<a class="header__soc-link" href="#" aria-label="Go to our twitter profile">
							<svg>
								<use xlink:href="images/sprite.svg#twitter"></use>
							</svg>
						</a>
						<a class="header__soc-link" href="#" aria-label="Go to our pinterest profile">
							<svg>
								<use xlink:href="images/sprite.svg#pinterest"></use>
							</svg>
						</a>
						<a class="header__soc-link" href="#" aria-label="Go to our instagram profile">
							<svg>
								<use xlink:href="images/sprite.svg#instagram"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header__mid">
			<div class="container">
				<div class="header__mid-inner">
					<div class="header__mid-box">
						<a class="header__logo" href="#">
							<img src="images/svg/logo.svg" alt="Our company logo">
						</a>
						<div class="header__contacts">
							<a class="header__link mail-link" href="mailto:info@bluecollar.com">
								<span class="header__link-caption mail-link__caption">Mail Us</span>
								Info@bluecollar.com
							</a>
							<a class="header__link call-link" href="tel:+01569896654">
								<span class="header__link-caption call-link__caption">Call Us</span>
								+01 569 896 654
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__bottom">
			<div class="container">
				<div class="header__bottom-box">
					<button class="burger" aria-label="Open menu" aria-expanded="false">
						<span class="burger__line"></span>
					</button>
					<nav class="nav" title="Main menu">
						<ul class="nav__list list-reset">
							<li class="nav__item"><a class="nav__link nav__link--active" href="#">Home</a></li>
							<li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Pages</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
						</ul>
					</nav>
					<div class="mobile-menu">
						<div class="mobile-menu__box">
							<span class="header__office-hours text">Opening Hours: 06:00 to 20:00</span>
							<div class="header__socials">
								<a class="header__soc-link" href="#" aria-label="Go to our facebook profile">
									<svg>
										<use xlink:href="images/sprite.svg#facebook"></use>
									</svg>
								</a>
								<a class="header__soc-link" href="#" aria-label="Go to our twitter profile">
									<svg>
										<use xlink:href="images/sprite.svg#twitter"></use>
									</svg>
								</a>
								<a class="header__soc-link" href="#" aria-label="Go to our pinterest profile">
									<svg>
										<use xlink:href="images/sprite.svg#pinterest"></use>
									</svg>
								</a>
								<a class="header__soc-link" href="#" aria-label="Go to our instagram profile">
									<svg>
										<use xlink:href="images/sprite.svg#instagram"></use>
									</svg>
								</a>
							</div>
						</div>
						<ul class="mobile-menu__list list-reset">
							<li class="mobile-menu__item">
								<a class="mobile-menu__link mobile-menu__link--active" href="#">Home</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">About Us</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">Pages</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">Blog</a>
							</li>
							<li class="mobile-menu__item">
								<a class="mobile-menu__link" href="#">Contact Us</a>
							</li>
						</ul>
						<div class="header__contacts">
							<a class="header__link mail-link" href="mailto:info@bluecollar.com">
								<span class="header__link-caption mail-link__caption">Mail Us</span>
								Info@bluecollar.com
							</a>
							<a class="header__link call-link" href="tel:+01569896654">
								<span class="header__link-caption call-link__caption">Call Us</span>
								+01 569 896 654
							</a>
						</div>
					</div>
					<a class="header__btn" href="#">Have Any Questions?</a>
					<a class="header__logo-mobile" href="#">
						<picture>
							<source srcset="images/svg/mobile-logo.svg" media="(max-width: 576px)">
							<img src="images/svg/logo2.svg" alt="Our company logo">
						</picture>
					</a>
				</div>
			</div>
		</div>
	</header>