<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<a class="footer__logo" href="#">
				<img src="images/svg/logo2.svg" alt="Our company logo">
			</a>
			<div class="footer__contacts">
				<a class="footer__link mail-link" href="mailto:info@bluecollar.com">
					<span class="footer__link-caption mail-link__caption">Mail Us</span>
					Info@bluecollar.com
				</a>
				<a class="footer__link call-link" href="tel:+01569896654">
					<span class="footer__link-caption call-link__caption">Call Us</span>
					+01 569 896 654
				</a>
				<a class="footer__link location-link" href="#">
					<span class="footer__link-caption location-link__caption">Location</span>
					Amsterdam, 109-74
				</a>
			</div>
		</div>
		<div class="footer__mid">
			<div class="footer__box">
				<p class="footer__text text">
					We are here to fit the needs of your basic services for your dream building whether its a commercial, residential or industry.
				</p>
				<div class="footer__socials">
					<a class="footer__soc-link" href="#" aria-label="Go to our instagram profile">
						<svg>
							<use xlink:href="images/sprite.svg#instagram"></use>
						</svg>
					</a>
					<a class="footer__soc-link" href="#" aria-label="Go to our facebook profile">
						<svg>
							<use xlink:href="images/sprite.svg#facebook"></use>
						</svg>
					</a>
					<a class="footer__soc-link" href="#" aria-label="Go to our twitter profile">
						<svg>
							<use xlink:href="images/sprite.svg#twitter"></use>
						</svg>
					</a>
					<a class="footer__soc-link" href="#" aria-label="Go to our pinterest profile">
						<svg>
							<use xlink:href="images/sprite.svg#pinterest"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="footer__links">
				<div class="footer__link-wrap">
					<h3 class="footer__title">Explore</h3>
					<ul class="footer__list list-reset">
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">About Us</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Pricing</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Team</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Blog</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="footer__link-wrap">
					<h3 class="footer__title">Quick Links</h3>
					<ul class="footer__list list-reset">
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Home</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Services</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Service Single</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Projects</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Projects Singles</a>
						</li>
					</ul>
				</div>
				<div class="footer__link-wrap">
					<h3 class="footer__title">Utility Pages</h3>
					<ul class="footer__list list-reset">
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Style Guide</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Changelog</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Licenses</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">Protected Page</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link text" href="#">404 Page</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="footer__copy">Copyright © BlueCollar | All Rights Reserved</p>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>