.questions{
	&__content{
		padding: 60px 40px 50px;
		background-color: var(--yellow-orange);
		@include mobile{
			padding: 40px 20px 40px;
		}
	}
	&__title{
		margin: 0 0 13px;
		@extend %msh-regular;
		color: var(--blue-cloud);
		font-size: 25px;
		line-height: 1.3;
		letter-spacing: 0.36px;
		text-transform: capitalize;
	}
	&__text{
		color: var(--blue-cloud) !important;
		margin: 0 0 22px;
	}
	&__link{
		position: relative;
		display: inline-block;
		padding-left: 70px;
		text-align: left;
		@extend %msh-regular;
		color: var(--white);
		font-size: 30px;
		line-height: 1.5;
		letter-spacing: 0.36px;
		transition: color .2s ease-in-out;
		&::before{
			content: '';
			background-image: url('../images/svg/call-white-bg.svg');
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
		}
		&:hover{
			color: var(--blue-cloud);
		}
		@include mobile{
			font-size: 26px;
		}
	}
}